/* Estilos para a div com a classe contact */
.contact {
    position: relative;
    width: 1366px;
    height: 787px;
    background-color: #292C34;
    margin: 0 auto;
}

.contact img {
    position: relative;
    max-width: 100%;
    height: auto;
}

.contact-header {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 91px;
}

.contact-header h3,
.contact-header h2,
.contact-header p {
    margin-bottom: 8px;
}

.contact-header p:last-child {
    margin-bottom: 0;
}

.contact-header h3 {
    color: #BB72E9;
    font-size: var(--font-size-subtitle);
    font-family: var(--font-inconsolata);
}

.contact-header h2 {
    color: #E2E4E9;
    font-size: var(--font-size-title-md);
    font-family: var(--font-asap);
}

.contact-header p {
    color: #C0C4CE;
    font-size: var(--font-size-title-sm);
    font-family: var(--font-maven-pro);
}

.container-links {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-links button {
    background-color: #292C34;
    width: 400px;
    height: 68px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    transition: transform 0.3s ease-in-out;
}

.container-links button:last-child {
    margin-bottom: 0;
}

.container-links button span {
    color: #C0C4CE;
    font-size: 16px;
    font-family: var(--font-maven-pro);
    margin-left: 12px;
    flex-grow: 1;
    text-align: left;
}

.container-links button:hover {
    transform: scale(1.05);
}
