header {
  width: 1040px;
  height: 447px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16181D;
  box-sizing: border-box;
  flex-direction: column;
 
  background-size: cover;
  /* Ajusta a imagem para cobrir todo o contêiner */
  background-position: center;
  /* Centraliza a imagem no contêiner */
  background-repeat: no-repeat;
  /* Evita que a imagem se repita */
 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha todos os elementos ao centro */
  justify-content: center; /* Garante centralização vertical */
  width: 680px;
  height: 327px;
  margin: 0 180px;
  text-align: center;
  box-sizing: border-box;

}




.avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza a imagem no eixo horizontal */
  justify-content: center;
  width: 112px;
  height: 112px;
  position: relative;
  margin-bottom: 24px; /* Espaço entre o avatar e o texto */
  

  /* Garante que as imagens não saiam da div */
 
}
.outer-circle {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 2px solid #E3464E;
  border-radius: 50%; /* Garante um círculo perfeito */
}
#perfil {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  object-fit: cover;
}


.inner-avatar {
  position: absolute; /* Fixa a posição dentro do .avatar-box */
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

/* Título principal */


/* Parágrafo descritivo */
.small {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #ccc; /* Cor para contraste com o fundo */
}


.icon-container {
  margin: 0 143px;
  margin-top: 80px;
  width: 754px;
  height: 40px;
  display: flex;
  justify-content: center; /* Centraliza os ícones horizontalmente */
  align-items: center; /* Alinha os ícones verticalmente */
  gap: 16px; /* Espaçamento entre os ícones */
  margin-top: 16px; /* Espaço entre os ícones e o container principal */
  margin: 80px 143px 0;
  
}











p.subtitle {

  color: #C0C4CE;
}

p.small {
  color: #878EA1;
}


span {
  color: #E3464E;
}

.icon-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Espaçamento igual entre os itens */
  gap: 20px;
  /* Espaçamento entre os itens */
  width: 754px;
  height: 40px margin: 0 143px;
}

.tech-item {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #fff;
  border: none;

}

.tech-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.icon-container span {
  font-size: var(--font-size-text-md: 16px);
  color: #C0C4CE;
}


.tech-item .html {


  .tech-item .html img {
    color: ;
  }

}

.tech-item.javascript img {
  fill: #EABD5F;
}


.tech-item.javascript {

  display: flex;
  align-items: center;
  justify-content: center;
  /* Centraliza o conteúdo */
  width: 138px;
  height: 40px;
  padding: 16px, 8px;
  background-color: #292C34;
  border-radius: 999px
}