header {
  width: 1040px;
  height: 447px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 680px;
  height: 327px;
  margin: 0 180px;
  text-align: center;
  box-sizing: border-box;
}

.avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 112px;
  position: relative;
  margin-bottom: 24px;
}

.outer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 2px solid #E3464E;
  border-radius: 50%;
}

#perfil {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  object-fit: cover;
}

.inner-avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.small {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #ccc;
}

.icon-container {
  width: 754px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 80px 143px 0;
}

p.subtitle {
  color: #C0C4CE;
}

p.small {
  color: #878EA1;
}

span {
  color: #E3464E;
}

.tech-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: none;
}

.tech-item.node,
.tech-item.css,
.tech-item.html,
.tech-item.github,
.tech-item.react,
.tech-item.javascript {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 8px;
  background-color: #292C34;
  border-radius: 999px;
}

.tech-item.node {
  width: 119px;
}

.tech-item.css {
  width: 92px;
}

.tech-item.html {
  width: 105px;
}

.tech-item.github {
  width: 114px;
}

.tech-item.react {
  width: 106px;
}

.tech-item.javascript {
  width: 138px;
}

.tech-item img {
  fill: #EABD5F;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.icon-container span {
  font-size: 16px;
  color: #C0C4CE;
}

/* Adicionar um efeito de hover sutil e mudar a cor para branco com delay */
.tech-item.node:hover,
.tech-item.css:hover,
.tech-item.html:hover,
.tech-item.github:hover,
.tech-item.react:hover,
.tech-item.javascript:hover {
  transform: translateY(-3px);
  transition: transform 0.3s ease-in-out;
  /* Transição imediata para o tamanho */
  background-color: #ffffff;


}

