/* Reset e estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  display: flex;           /* Adiciona display flex */
  flex-direction: column;  /* Organiza o conteúdo verticalmente */
  align-items: center;     /* Centraliza horizontalmente */
  
}