.main-section {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 1366px;
  height: 750px;
  background: #16181D;
  background-image: url(assets/Background_Intro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;

}



