body {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;

  background-color: #292C34;
 


  justify-content: center;
  /* Centraliza a div na horizontal */
  align-items: center;
  /* Centraliza a div na vertical */


}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}



html {
  scroll-behavior: smooth;
  /* Adiciona rolagem suave */
}


