body {
  
  background-color: #292C34;
  display: flex;
  justify-content: center;
  /* Centraliza a div na horizontal */
  align-items: center;
  /* Centraliza a div na vertical */
  height: 100vh;
  margin: 0;

}